body
{
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	margin: 0;
	padding:0;
	/* Background pattern from Toptal Subtle Patterns */
	background-image:url('../img/geometry2.png');
}

.navbar
{
	position: fixed;
	top: 0;
	width: 100%;
}


.navbar-light
{
	background-color: #00eeff;	
	text-align: center;
	z-index: 100;
}



.logo
{
	display: inline-block;
	width:50px;
	height:50px;
	background-image:url('../img/gen.png');
	background-size:cover;
	float:left;
	margin-right: auto;
}

.logo:hover
{
	cursor:pointer;

	
}

.navbar-toggler-icon
{
	color: #004045;
}



#menu
{
	
	position:absolute;
	right:0;
	line-height: 300%;
	text-align: center;
	list-style-type: none;
	
}

@media (max-width: 767px) {
  #menu {
      top:75px;
  }
}


.nav-item
{
	width: 120px;
	}


.nav-link
{
	display: block;
	text-decoration: none;
	color: #004045;
	
}


.nav-link:hover
{
	text-decoration: none;
	color: #004045;
	background-color: #a8e4ed;

}

.dropbtn {
  background-color: #17a2b8;
  color: 004045;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #17a2b8;
    width:240px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 50;
}


.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #a8e4ed;}


.konfigurator
{
	margin-top: 200px;
	color: #004045;
	
}



.event
{
	float: left;
	width: 235px;
	height: 235px;
	color: white;
	margin-bottom:25px;
	position: relative;
	display: inline-block;
	background-color: white;
	-webkit-box-shadow: 0px 0px 23px -3px rgba(0,0,0,0.46);
	-moz-box-shadow: 0px 0px 23px -3px rgba(0,0,0,0.46);
	box-shadow: 0px 0px 23px -3px rgba(0,0,0,0.46);
	opacity: 75%;
	overflow: hidden;
	text-align: center;
	transition: .2s ease-in-out;
}


.event img {
	height:100%;
}


.event-text
{
	width: 235px;
	height: 235px;
	display: block;
	opacity: 100%;
	bottom: -180px;
	position: absolute;
	letter-spacing: 1px;
	text-shadow: black 1px 1px 0.2px;
}

.signin
{
	padding-top: 20px;
	padding-bottom: 20px;
	margin-top: 10px;
	text-align:center
}



.event:hover
{
	transform: scale(1.15);
	opacity:100%;

}


#sign
{
	background-color:#a8e4ed;
	min-height: 300px;
	margin-top:300px;
	-webkit-box-shadow: 0px 0px 23px -3px rgba(0,0,0,0.46);
	-moz-box-shadow: 0px 0px 23px -3px rgba(0,0,0,0.46);
	box-shadow: 0px 0px 23px -3px rgba(0,0,0,0.46);
}

#users
{
	background-color:#a8e4ed;
	min-height: 100px;
	margin-top:100px;
	-webkit-box-shadow: 0px 0px 23px -3px rgba(0,0,0,0.46);
	-moz-box-shadow: 0px 0px 23px -3px rgba(0,0,0,0.46);
	box-shadow: 0px 0px 23px -3px rgba(0,0,0,0.46);
}

#services
{
	background-color:#a8edc4;
	min-height: 100px;
	margin-top:100px;
	-webkit-box-shadow: 0px 0px 23px -3px rgba(0,0,0,0.46);
	-moz-box-shadow: 0px 0px 23px -3px rgba(0,0,0,0.46);
	box-shadow: 0px 0px 23px -3px rgba(0,0,0,0.46);
}

#subservices
{
	background-color:#eaeda8;
	min-height: 100px;
	margin-top:100px;
	-webkit-box-shadow: 0px 0px 23px -3px rgba(0,0,0,0.46);
	-moz-box-shadow: 0px 0px 23px -3px rgba(0,0,0,0.46);
	box-shadow: 0px 0px 23px -3px rgba(0,0,0,0.46);
}
/*
#packagedeals
{
	background-color:#e4a8ed;
	min-height: 100px;
	margin-top:100px;
	-webkit-box-shadow: 0px 0px 23px -3px rgba(0,0,0,0.46);
	-moz-box-shadow: 0px 0px 23px -3px rgba(0,0,0,0.46);
	box-shadow: 0px 0px 23px -3px rgba(0,0,0,0.46);
}*/

#promo_codes
{
	background-color:#eda8a8;
	min-height: 100px;
	margin-top:100px;
	-webkit-box-shadow: 0px 0px 23px -3px rgba(0,0,0,0.46);
	-moz-box-shadow: 0px 0px 23px -3px rgba(0,0,0,0.46);
	box-shadow: 0px 0px 23px -3px rgba(0,0,0,0.46);
}

#sms
{
	background-color:#e6f7ff;
	min-height: 100px;
	margin-top:100px;
	-webkit-box-shadow: 0px 0px 23px -3px rgba(0,0,0,0.46);
	-moz-box-shadow: 0px 0px 23px -3px rgba(0,0,0,0.46);
	box-shadow: 0px 0px 23px -3px rgba(0,0,0,0.46);
}

.functionName
{
	display:block;
}
.error
{
	font-size: 15px;
	color: red;
}

.confirmation
{
	font-size: 15px;
	color: green;
}


input[type=text],
input[type=password],
input[type=number],
input[list],
.adminselect,
.form-control
{
	min-width:300px;
	min-height:50px;
	background-color: #efefef;
	color:#004045;
	border: 2px solid #17a2b8;
	border-radius: 5px;
	font-size: 20px;
	padding: 10px;
	margin-top: 10px;
	box-sizing: border-box;
	outline: none;
}

input[type=text]:focus,
input[type=password]:focus,
input[type=number]:focus,
.adminselect:focus
{
	-webkit-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.46);
	-moz-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.46);
	box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.46);
	boarder: 2px solid #17a2b8;
}

input[type=submit],
.button
/*input[type=button]*/
{
	min-width:300px;
	background-color: #17a2b8;
	color:#004045;
	padding: 15px 10px;
	margin-top: 20px;
	border: none;
	border-radius: 5px;
	font-size: 20px;
	padding: 10px;
	box-sizing: border-box;
	letter-spacing: 2px;
	outline: none;
}

input[type=submit]:hover,
.button:hover
/*input[type=button]:hover*/
{
	background-color: #0691a7;
	cursor: pointer;
}

input[type="radio"] {

}

.title 
{
	letter-spacing:10px;
	color:#17a2b8;
}

.finalPrice
{
	color:#004045;
	text-align:center;
	letter-spacing:2px;
	font-size: 25px;
}

.form
{
	display:block;
	width: 250px;
	height: 250px;
	margin-top:-20px;
	margin-left:-20px

}

.button1
{
	opacity:85%;
	border:none;
    background:url('../img/wesele.jpg');
    background-size: 100% 100%;
	display:block;
	width:250px;
	height:250px;
	
}

.button2
{
	opacity:85%;
	border:none;
    background:url('../img/urodziny.jpg');
    background-size: 100% 100%;
	display:block;
	width:250px;
	height:250px;
	
}

.button3
{
	opacity:85%;
	border:none;
    background:url('../img/kawalerski.jpg');
    background-size: 100% 100%;
	display:block;
	width:250px;
	height:250px;
	
}

.button4
{
	opacity:85%;
	border:none;
    background:url('../img/wyjazd_integr.jpg');
    background-size: 100% 100%;
	display:block;
	width:250px;
	height:250px;
	
}

.button5
{
	opacity:85%;
	border:none;
    background:url('../img/konferencja.jpg');
    background-size: 100% 100%;
	display:block;
	width:250px;
	height:250px;
	
}

.button6
{
	opacity:85%;
	border:none;
    background:url('../img/koncert.jpg');
    background-size: 100% 100%;
	display:block;
	width:250px;
	height:250px;
	
}

.button7
{
	opacity:85%;
	border:none;
    background:url('../img/zielona.jpg');
    background-size: 100% 100%;
	display:block;
	width:250px;
	height:250px;
	
}

.button8
{
	opacity:85%;
	border:none;
    background:url('../img/survival.jpg');
    background-size: 100% 100%;
	display:block;
	width:250px;
	height:250px;
	
}

.button9
{
	opacity:85%;
	border:none;
    background:url('../img/komunia.jpg');
    background-size: 100% 100%;
	display:block;
	width:250px;
	height:250px;
	
}

.button10
{
	opacity:85%;
	border:none;
    background:url('../img/sport.jpg');
    background-size: 100% 100%;
	display:block;
	width:250px;
	height:250px;
	
}

.button11
{
	opacity:85%;
	border:none;
    background:url('../img/wystawa.jpg');
    background-size: 100% 100%;
	display:block;
	width:250px;
	height:250px;
	
}

.buttonA
{
	width:300px;
	background-color: #17a2b8;
	color:#004045;
	padding: 15px 10px;
	margin-top: 20px;
	border: none;
	border-radius: 5px;
	background:url('../templates/oferta.html');
	font-size: 20px;
	padding: 10px;
	box-sizing: border-box;
	letter-spacing: 2px;
	outline: none;
}

.party
{
	width:240px;
	background-color:#17a2b8;
	border:none;
	padding: 0;
	background:none;
	height:75px;
}


.footer
{

	margin-top:300px;
	background-color: #004045;
	height: 55px;
	position: relative;
	text-align: center;

	
}

.socials
{
	position:absolute;
	right:0;
	width: 475px;
	margin-left: auto;
	margin-right: 0;
	display: inline-block;
}

.fb 
{
	width: 55px;
	height: 55px;
	margin-left: 10px;
	margin-right: 10px;
	float:left;
}

.fb:hover 
{
	background-color: #4668b3;
	cursor:pointer;
}
	
.snap 
{
	width: 55px;
	height: 55px;
	margin-left: 10px;
	margin-right: 10px;
	float:left;
}

.snap:hover 
{
	background-color: #fffc00;
	cursor:pointer;
}
	
.tw 
{
	width: 55px;
	height: 55px;
	margin-left: 10px;
	margin-right: 10px;
	float:left;
}

.tw:hover 
{
	background-color: #3095d3;
	cursor:pointer;
}
	
.insta 
{
	width: 55px;
	height: 55px;
	margin-left: 10px;
	margin-right: 10px;
	float:left;
}

.insta:hover 
{
	background-color: #e1306c;
	cursor:pointer;
}
	
.pinterest 
{
	width: 55px;
	height: 55px;
	margin-left: 10px;
	margin-right: 10px;
	float:left;
}

.pinterest:hover 
{
	background-color: #e60023;
	cursor:pointer;
}

