<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity"
      xmlns:custom="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>GENerator imprez. Imprezę mamy w genach</title>

    <meta name="description" content="Zamów imprezę, resztą zajmiemy się my."/>
    <meta name="keywords"
          content="impreza, wesele, panieński, kawalerski, koncert, alkohol, szkolenie, event, urodziny"/>

    <link rel="stylesheet" type="text/css" href="css/fontello.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">

</head>
<body>
<nav class="navbar navbar-fixed-top navbar-light bg-info navbar-expand-md">
    <a class="navbar-brand mr-auto" href="/">
        <div class="logo"></div>
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu">
        <span class="navbar-toggler-icon"> </span>
    </button>
    <div class="collapse navbar-collapse" id="menu">
        <ul class="navbar-nav">
            <li sec:authorize="hasAuthority('1')" class="nav-item" style="width:240px"><a class="nav-link" href="/panel">Panel Sterowania</a></li>
            <li class="nav-item" style="width:180px"><a class="nav-link" href="/">Strona Domowa</a></li>
            <li class="nav-item"><a class="nav-link" href="/zorganizuj-impreze">Oferta</a></li>
            <li class="nav-item"><a class="nav-link" href="/o-nas">O nas</a></li>
            <li class="nav-item"><a class="nav-link" href="/kontakt">Kontakt</a></li>
            <li sec:authorize="isAnonymous()" class="nav-item"><a class="nav-link" href="/zarejestruj">Zarejestruj</a></li>
            <li sec:authorize="isAnonymous()" class="nav-item"><a class="nav-link" href="/zaloguj">Zaloguj</a></li>
            <li class="dropdown">
                <div sec:authorize="isAuthenticated()" class="nav-item dropbtn" style="width:240px"><a class="nav-link"><span
                        sec:authentication="name"></span></a>
                    <div class="dropdown-content">
                        <a class="nav-link" href="/logout">Wyloguj</a>
                        <form th:if="${partyInvisible}" th:action="@{/party}" type="submit" method="post">
                        <button class="nav-link party" name="submit" type="submit" value="value">Moja impreza</button>
                        </form>
                    </div>
                </div>
            </li>
        </ul>

    </div>
</nav>

<div style="clear:both"></div>


<section class="konfigurator">
    <div class="container">

        <div class="row">
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="event">

                    <form th:action="@{/konfiguracja}" method="post" class="form">
                        <input type="submit" class="button1" value="">
                        <input type="hidden" name="packageDealId" th:attr="field=${offer.packageDealId}" value="1"/>
                     </form>
                    <div class="event-text">wesele</div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="event">
                    
					<form th:action="@{/konfiguracja}" method="post" class="form">
                        <input type="submit" class="button2" value="">
                        <input type="hidden" name="packageDealId" th:attr="field=${offer.packageDealId}" value="2"/>
                     </form>
                    <div class="event-text">urodziny</div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="event">
                    <form th:action="@{/konfiguracja}" method="post" class="form">
                        <input type="submit" class="button3" value="">
                        <input type="hidden" name="packageDealId" th:attr="field=${offer.packageDealId}" value="3"/>
                     </form>
                    <div class="event-text">wieczór kawalerski/panieński</div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="event">
                    <form th:action="@{/konfiguracja}" method="post" class="form">
                        <input type="submit" class="button4" value="">
                        <input type="hidden" name="packageDealId" th:attr="field=${offer.packageDealId}" value="4"/>
                     </form>
                    <div class="event-text">wyjazd integracyjny</div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="event">
                     <form th:action="@{/konfiguracja}" method="post" class="form">
                        <input type="submit" class="button5" value="">
                        <input type="hidden" name="packageDealId" th:attr="field=${offer.packageDealId}" value="5"/>
                     </form>
                     <div class="event-text">konferencja/szkolenie</div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="event">
                    <form th:action="@{/konfiguracja}" method="post" class="form">
                        <input type="submit" class="button6" value="">
                        <input type="hidden" name="packageDealId" th:attr="field=${offer.packageDealId}" value="6"/>
                     </form>
                    <div class="event-text">koncert</div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="event">
                    <form th:action="@{/konfiguracja}" method="post" class="form">
                        <input type="submit" class="button7" value="">
                        <input type="hidden" name="packageDealId" th:attr="field=${offer.packageDealId}" value="7"/>
                     </form>
                    <div class="event-text">zielona szkoła</div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="event">
                    <form th:action="@{/konfiguracja}" method="post" class="form">
                        <input type="submit" class="button8" value="">
                        <input type="hidden" name="packageDealId" th:attr="field=${offer.packageDealId}" value="8"/>
                     </form>
                    <div class="event-text">survival</div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="event">
                <form th:action="@{/konfiguracja}" method="post" class="form">
                        <input type="submit" class="button9" value="">
                        <input type="hidden" name="packageDealId" th:attr="field=${offer.packageDealId}" value="9"/>
                     </form>
                    <div class="event-text">komunia/chrzciny</div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="event">
                    <form th:action="@{/konfiguracja}" method="post" class="form">
                        <input type="submit" class="button10" value="">
                        <input type="hidden" name="packageDealId" th:attr="field=${offer.packageDealId}" value="10"/>
                     </form>
                    <div class="event-text">impreza sportowa</div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="event">
                    <form th:action="@{/konfiguracja}" method="post" class="form">
                        <input type="submit" class="button11" value="">
                        <input type="hidden" name="packageDealId" th:attr="field=${offer.packageDealId}" value="11"/>
                     </form>
                    <div class="event-text">wystawa</div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="event">
                    <a href="/zorganizuj-impreze"><img src="img/custom.jpg"></a>
                    <div class="event-text">skomponuj swoją</div>
                </div>
            </div>

            <div style="clear:both"></div>
        </div>
    </div>
</section>


<div class="footer">
    <a href="/">
        <div class="logo"></div>
    </a>
    <div class="socials">
        <a href="https://pl-pl.facebook.com/" target="_blank"><div class="fb"><i class="icon-facebook"></i></div></a>
        <a href="https://www.snapchat.com/" target="_blank"><div class="snap"><i class="icon-snapchat-ghost"></i></div></a>
        <a href="https://twitter.com/?lang=pl" target="_blank"><div class="tw"><i class="icon-twitter"></i></div></a>
        <a href="https://www.instagram.com/?hl=pl" target="_blank"><div class="insta"><i class="icon-instagram"></i></div></a>
        <a href="https://pl.pinterest.com/" target="_blank"><div class="pinterest"><i class="icon-pinterest"></i></div></a>
    <div style="clear:both"></div>
    </div>
</div>
</body>
</html>