<!DOCTYPE html>
<html>
	<head>
	<meta charset="utf-8" />
	<title>GENerator imprez. Imprezę mamy w genach</title>
	
	<meta name="description" content="Zamów imprezę, resztą zajmiemy się my." />
	<meta name="keywords" content="impreza, wesele, panieński, kawalerski, koncert, alkohol, szkolenie, event, urodziny" />
	
	<link rel="stylesheet" type="text/css" href="style.css">
	<link rel="stylesheet" type="text/css" href="css/fontello.css">
	<link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
	
	</head>
	<body>
	<div class="toolbar">
		<div class="logo"></div>
		<ul class="menu">
				<li><a href = "#">Kontakt</a></li>
				<li><a href = "#">O nas</a></li>
				<li><a href = "#">Oferta</a></li>
				<li><a href = "#">Zarejestruj</a></li>
				<li><a href = "#">Zaloguj</a></li>
			<ul>
	
	</div>
	<div style="clear:both"></div>
	
	<div class="konfigurator">
		<div class="grupa1">
			<div class="event">event1</div>
			<div class="event">event2</div>
			<div class="event">event3</div>
			<div class="event">event4</div>
			<div style="clear:both"></div>
		</div>
		<div class="grupa2">
			<div class="event">event5</div>
			<div class="event">event6</div>
			<div class="event">event7</div>
			<div class="event">event8</div>
			<div style="clear:both"></div>
		</div>
		<div class="grupa3">
			<div class="event">event9</div>
			<div class="event">event10</div>
			<div class="event">event11</div>
			<div class="event">event12</div>
			<div style="clear:both"></div>
		</div>
	</div>
	
	
	<div class="footer">
		<div class="logo"></div>
		<div class="socials">
			<div class="fb"><i class="icon-facebook"></i></div>
			<div class="snap"><i class="icon-snapchat-ghost"></i></div>
			<div class="tw"><i class="icon-twitter"></i></div>
			<div class="insta"><i class="icon-instagram"></i></div>
			<div class="pinterest"><i class="icon-pinterest"></i></div>
			<div style="clear:both"></div>
		</div>
	</div>
	</body>