<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>GENerator imprez. Imprezę mamy w genach</title>

    <meta name="description" content="Zamów imprezę, resztą zajmiemy się my."/>
    <meta name="keywords"
          content="impreza, wesele, panieński, kawalerski, koncert, alkohol, szkolenie, event, urodziny"/>

    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/fontello.css">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">

</head>
<body>
<nav class="navbar navbar-fixed-top navbar-light bg-info navbar-expand-md">
		<a class="navbar-brand mr-auto" href = "/">
			<div class="logo"></div>
		</a>
		
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu">
			<span class="navbar-toggler-icon"> </span>
		</button>
		<div class="collapse navbar-collapse" id="menu">
			<ul class="navbar-nav">
				<li class="nav-item"><a class="nav-link" href = "/zorganizuj-impreze">Oferta</a></li>
				<li class="nav-item"><a class="nav-link" href = "/o-nas">O nas</a></li>
				<li class="nav-item"><a class="nav-link" href = "/kontakt">Kontakt</a></li>
				<li class="nav-item"><a class="nav-link" href = "/zarejestruj">Zarejestruj</a></li>
                <li sec:authorize="isAnonymous()" class="nav-item"><a class="nav-link" href="/zaloguj">Zaloguj</a></li>
                <li sec:authorize="isAuthenticated()" class="nav-item"><a class="nav-link" href="/profil"><span sec:authentication="name"></span></a></li>
			</ul>
	</div>
	</nav>
<div class="offset-3 col-6">
    <div class="container">
      <div class="hero-unit">
        <br>
        <br>
        <br>
        <br>
        <h1>Nasz zespół </h1>
        <p>
        GENerator Imprez tworzy paczka dobrych przyjaciół
		posiadająca grono zaufanych i sprawdzonych podwykonawców.
		Jesteśmy dobrzy w tym co robimy, bo łączymy pracę z pasją.
        </p>
        <br>
        <h1>Nasza misja </h1>
        <p>
        GENerator Imprez chce świadczeć niebanalne,
        innowacyjne i kreatywne usługi
		przy zachowaniu najwyższej jakości,
		spełniającej oczekiwania najbardziej wymagających klientów.
		Wszystkie usługi oferowane przez GENerator Imprez
		charakteryzują się bezpieczeństwem
		oraz stosowaniem najnowocześniejszych sprzętów.
        </p>
        <br>
        <h1>Nasze ambicje</h1>
        <p>
        GENerator Imprez, dąży, aby w najbliższych trzech latach 
		stać się liderem w województwie mazowieckim w organizacji 
		koncertów, wystaw oraz konferencji.<br>
		Swój sukces GENerator Imprez osiągnie poprzez 
		najwyższa jakość świadczonych usług
		oraz najbardziej wykwalifikowanych Event Managerów w kraju.
        </p> 
      </div>
    </div>
</div>
<div class="footer">
    <a href="/">
        <div class="logo"></div>
    </a>
    <div class="socials">
        <div class="fb"><i class="icon-facebook"></i></div>
        <div class="snap"><i class="icon-snapchat-ghost"></i></div>
        <div class="tw"><i class="icon-twitter"></i></div>
        <div class="insta"><i class="icon-instagram"></i></div>
        <div class="pinterest"><i class="icon-pinterest"></i></div>
        <div style="clear:both"></div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script scr="js/bootstrap.min.js"></script>
</body>
</html>