<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>GENerator imprez. Imprezę mamy w genach</title>

    <meta name="description" content="Zamów imprezę, resztą zajmiemy się my."/>
    <meta name="keywords"
          content="impreza, wesele, panieński, kawalerski, koncert, alkohol, szkolenie, event, urodziny"/>

    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/fontello.css">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">

</head>
<body>
<nav class="navbar navbar-fixed-top navbar-light bg-info navbar-expand-md">
    <a class="navbar-brand mr-auto" href="/">
        <div class="logo"></div>
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu">
        <span class="navbar-toggler-icon"> </span>
    </button>
    <div class="collapse navbar-collapse" id="menu">
        <ul class="navbar-nav">
            <li sec:authorize="hasAuthority('1')" class="nav-item" style="width:240px"><a class="nav-link" href="/panel">Panel Sterowania</a></li>
            <li class="nav-item" style="width:180px"><a class="nav-link" href="/">Strona Domowa</a></li>
            <li class="nav-item"><a class="nav-link" href="/zorganizuj-impreze">Oferta</a></li>
            <li class="nav-item"><a class="nav-link" href="/o-nas">O nas</a></li>
            <li class="nav-item"><a class="nav-link" href="/kontakt">Kontakt</a></li>
            <li sec:authorize="isAnonymous()" class="nav-item"><a class="nav-link" href="/zarejestruj">Zarejestruj</a></li>
            <li sec:authorize="isAnonymous()" class="nav-item"><a class="nav-link" href="/zaloguj">Zaloguj</a></li>
            <li sec:authorize="isAuthenticated()" class="nav-item" style="width:240px"><a class="nav-link" href="/profil"><span sec:authentication="name"></span></a></li>
        </ul>
    </div>
</nav>
<div style="clear:both"></div>

<div class="col-sm-6 offset-sm-3" id="sign" style="margin-top:100px">
    <form class="signin" th:action="@{/zorganizuj-impreze}" th:object="${subServiceList}" method="post">
        <div class="form-group">
            <span th:each="service : ${one}">
            <label th:text="${service.getName()}" for="select1" ></label>
            <select th:name="${service.getName()}"
                    th:path="${service.getName()}"
                    th:field="${subServiceList.subServiceName}"
                    class="form-control"
                    id="select1">
                <option th:each="subService: ${service.getSubServices()}"
                        th:text="${subService.getName()}"
                        th:value="${subService.getName()}"
                ></option>
            </select>
            </span>
        </div>

        <div class="form-group">
            <span th:each="service : ${multi}">
                <label th:text="${service.getName()}" for="select2"></label>
                <select multiple
                        class="form-control"
                        id="select2"
                        th:name="${service.getName()}"
                        th:path="${service.getName()}"
                        th:field="${subServiceList.subServiceName}">
                  <option th:each="subService: ${service.getSubServices()}"
                          th:text="${subService.getName()}"
                          th:value="${subService.getName()}">
                  </option>
                </select>
            </span>
        </div>
        <input class="ol-sm-6 offset-sm-4" type="submit" value="Dalej">
    </form>
</div>


<div class="footer">
    <a href="/">
        <div class="logo"></div>
    </a>
    <div class="socials">
        <div class="fb"><i class="icon-facebook"></i></div>
        <div class="snap"><i class="icon-snapchat-ghost"></i></div>
        <div class="tw"><i class="icon-twitter"></i></div>
        <div class="insta"><i class="icon-instagram"></i></div>
        <div class="pinterest"><i class="icon-pinterest"></i></div>
        <div style="clear:both"></div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script scr="js/bootstrap.min.js"></script>
</body>
</html>