<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>GENerator imprez. Imprezę mamy w genach</title>

    <meta name="description" content="Zamów imprezę, resztą zajmiemy się my."/>
    <meta name="keywords"
          content="impreza, wesele, panieński, kawalerski, koncert, alkohol, szkolenie, event, urodziny"/>

    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/fontello.css">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">

</head>
<body>
<nav class="navbar navbar-fixed-top navbar-light bg-info navbar-expand-md">
		<a class="navbar-brand mr-auto" href = "/">
			<div class="logo"></div>
		</a>
		
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu">
			<span class="navbar-toggler-icon"> </span>
		</button>
		<div class="collapse navbar-collapse" id="menu">
			<ul class="navbar-nav">
                <li sec:authorize="hasAuthority('1')" class="nav-item" style="width:240px"><a class="nav-link" href="/panel">Panel Sterowania</a></li>
                <li class="nav-item" style="width:180px"><a class="nav-link" href="/">Strona Domowa</a></li>
				<li class="nav-item"><a class="nav-link" href = "/zorganizuj-impreze">Oferta</a></li>
				<li class="nav-item"><a class="nav-link" href = "/o-nas">O nas</a></li>
				<li class="nav-item"><a class="nav-link" href = "/kontakt">Kontakt</a></li>
				<li sec:authorize="isAnonymous()" class="nav-item"><a class="nav-link" href = "/zarejestruj">Zarejestruj</a></li>
                <li sec:authorize="isAnonymous()" class="nav-item"><a class="nav-link" href="/zaloguj">Zaloguj</a></li>
                <li sec:authorize="isAuthenticated()" class="nav-item" style="width:240px"><a class="nav-link" href="/profil"><span sec:authentication="name"></span></a></li>
			</ul>
	</div>
	</nav>
<div class="col-sm-6 offset-sm-3" id="users">
		<span class="title">Użytkownicy</span><br>
		<form class="signin" th:action="@{/panel-user}" th:object="${newUser}" method="post">
		<span class="functionName">Usuń konto</span>
		<input class="ol-sm-4" type="text" name="username" placeholder="e-mail" th:field="${newUser.username}">
		 <input class="ol-sm-4" type="submit" value="Usuń">
		</form>
		
		<form class="signin" th:action="@{/panel-user}" th:object="${newUser}" method="post">
		<span class="functionName">Nadaj funkcję administratora</span>
		<input class="ol-sm-6" type="text" name="username" placeholder="e-mail" th:field="${newUser.username}">
		 <input class="ol-sm-6" type="submit" value="Mianuj adminem">
		</form>
		
		<form class="signin" th:action="@{/panel-user}" th:object="${newUser}" method="post">
		<span class="functionName">Nadaj funkcję użytkownika</span>
		<input class="ol-sm-6" type="text" name="username" placeholder="e-mail" th:field="${newUser.username}">
		 <input class="ol-sm-6" type="submit" value="Zdegraduj admina">
		</form>
				
</div>

<div class="col-sm-6 offset-sm-3" id="services">
<span class="title">Kategorie świadczonych usług</span><br>
	<form class="signin" th:action="@{/panel-service}" th:object="${newService}" method="post">
		<span class="functionName">Usuń kategorię</span>
		<input class="ol-sm-6" type="text" name="name" placeholder="nazwa kategorii" th:field="${newService.name}">
		 <input class="ol-sm-6" type="submit" value="Usuń">
		</form>
		
		<form class="signin" th:action="@{/panel-service}" th:object="${newService}" method="post">
		<span class="functionName">Dodaj kategorię</span>
		<input class="ol-sm-4" type="text" name="name" placeholder="nazwa kategorii" th:field="${newService.name}">
	<!--	<input class="ol-sm-4" list="servicetype" placeholder="rodzaj kategorii" th:field="${newService.choice}">-->

			<select class="ol-sm-6 adminselect" list="servicetype" placeholder="typ" th:field="${newService.choice}">
				<datalist class="ol-sm-6 form-control" id="servicetype">
					<option	th:text="'kategoria wielokrotnego wyboru (np katering)'"
							   th:value="'multi'" ></option>
					<option	th:text="'kategoria jednokrotnego wyboru (np nocleg)'"
							   th:value="'one'" ></option>
				</datalist>
			</select>


		 <input class="ol-sm-4" type="submit" value="Dodaj">
		</form>
		
</div>

<div class="col-sm-6 offset-sm-3" id="subservices">
<span class="title">Usługi</span><br>
	<form class="signin" th:action="@{/panel-subService}" th:object="${newSubService}" method="post">
		<span class="functionName">Usuń usługę</span>
		<input class="ol-sm-6" type="text" name="username" placeholder="nazwa usługi" th:field="${newSubService.name}">
		 <input class="ol-sm-6" type="submit" value="Usuń">
		</form>
		
		<form class="signin" th:action="@{/panel-subService}" th:object="${newSubService}" method="post">
		<span class="functionName">Dodaj usługę</span>
		<input class="ol-sm-2" type="text" name="username" placeholder="nazwa usługi" th:field="${newSubService.name}">
			<select class="ol-sm-2 adminselect" list="service" placeholder="rodzaj kategorii" th:field="${newSubService.serviceName}">
			<datalist class="ol-sm-2 form-control" id="service">
				<option th:each="s: ${serviceNames}"
						th:text="${s}"
						th:value="${s}" />
			</datalist>
			</select>
			<input class="ol-sm-2" type="number" placeholder="cena" name="price" th:attr="field=${newSubService.price}">
			<input class="ol-sm-2" type="number" placeholder="podatek" name="tax" th:attr="field=${newSubService.tax}">

			<select class="ol-sm-2 adminselect" list="pricing" placeholder="typ" th:field="${newSubService.type}">
				<datalist class="ol-sm-2 form-control" id="typ">
					<option	th:text="'cena za osobę'"
							   th:value="'pp'" ></option>
					<option	th:text="'cena za usługę'"
							   th:value="'ps'" ></option>
				</datalist>
			</select>

		 <input class="ol-sm-2" type="submit" value="Dodaj">
		</form>

	<form class="signin" th:action="@{/panel-subService}" th:object="${newSubService}" method="post">
		<span class="functionName">Zmień cenę usługi</span>
		<input class="ol-sm-4" type="text" name="username" placeholder="nazwa usługi" th:field="${newSubService.serviceName}">
		<input class="ol-sm-4" type="number" placeholder="cena" name="price" th:attr="field=${newSubService.price}">
		<input class="ol-sm-4" type="submit" value="Modyfikuj">
	</form>

	<form class="signin" th:action="@{/panel-subService}" th:object="${newSubService}" method="post">
		<span class="functionName">Zmień wysokość podatku</span>
		<input class="ol-sm-4" type="text" name="username" placeholder="nazwa usługi" th:field="${newSubService.serviceName}">
		<input class="ol-sm-4" type="number" placeholder="podatek" name="tax" th:attr="field=${newSubService.tax}">
		<input class="ol-sm-4" type="submit" value="Modyfikuj">
	</form>

</div>


<div class="col-sm-6 offset-sm-3" id="promo_codes">
	<form class="signin" th:action="@{/panel-promo-code}" th:object="${newPromoCode}" method="post">
		<span class="functionName">Wygeneruj kody promocyjne</span>
		<input class="ol-sm-3" type="text" name="code" placeholder="kod promocyjny" th:field="${newPromoCode.code}">
		<input class="ol-sm-3" type="number" placeholder="cena" name="value" th:attr="field=${newPromoCode.value}">
		<input class="ol-sm-3" type="number" placeholder="ilość" name="amount" th:attr="field=${newPromoCode.amount}">
		 <input class="ol-sm-3" type="submit" value="Dodaj">
		</form>
		
		<form class="signin" th:action="@{/panel-promo-code}" th:object="${newPromoCode}" method="post">
		<span class="functionName">Usuń kody promocyjne</span>
		<input class="ol-sm-6" type="text" name="username" placeholder="nazwa kategorii" th:field="${newPromoCode.code}">
		 <input class="ol-sm-6" type="submit" value="Usuń">
		</form>
		
</div>
<div class="footer">
    <a href="/">
        <div class="logo"></div>
    </a>
    <div class="socials">
        <div class="fb"><i class="icon-facebook"></i></div>
        <div class="snap"><i class="icon-snapchat-ghost"></i></div>
        <div class="tw"><i class="icon-twitter"></i></div>
        <div class="insta"><i class="icon-instagram"></i></div>
        <div class="pinterest"><i class="icon-pinterest"></i></div>
        <div style="clear:both"></div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script scr="js/bootstrap.min.js"></script>
</body>
</html>