<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
	<head>
	<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>GENerator imprez. Imprezę mamy w genach</title>
	
	<meta name="description" content="Zamów imprezę, resztą zajmiemy się my." />
	<meta name="keywords" content="impreza, wesele, panieński, kawalerski, koncert, alkohol, szkolenie, event, urodziny" />

		<link rel="stylesheet" type="text/css" href="css/fontello.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
		<link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
	
	</head>
	<body>
	<nav class="navbar navbar-fixed-top navbar-light bg-info navbar-expand-md">
		<a class="navbar-brand mr-auto" href = "/">
			<div class="logo"></div>
		</a>
		
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu">
			<span class="navbar-toggler-icon"> </span>
		</button>
		<div class="collapse navbar-collapse" id="menu">
			<ul class="navbar-nav">
				<li sec:authorize="hasAuthority('1')" class="nav-item" style="width:240px"><a class="nav-link" href="/panel">Panel Sterowania</a></li>
				<li class="nav-item" style="width:180px"><a class="nav-link" href="/">Strona Domowa</a></li>
				<li class="nav-item"><a class="nav-link" href = "/zorganizuj-impreze">Oferta</a></li>
				<li class="nav-item"><a class="nav-link" href = "/o-nas">O nas</a></li>
				<li class="nav-item"><a class="nav-link" href = "/kontakt">Kontakt</a></li>
				<li class="nav-item"><a class="nav-link" href = "/zarejestruj">Zarejestruj</a></li>
				<li class="nav-item"><a class="nav-link" href = "/zaloguj">Zaloguj</a></li>
			</ul>
	</div>
	</nav>
	<div style="clear:both"></div>
	
	<div class="col-sm-6 offset-sm-3" id="sign">
		<form class="signin" th:action="@{/przypomnij2}" th:object="${newUser}" method="post">
			<div style="text-align:center">
			<label th:unless="${linkSent}" th:text="${newUser.getReminder()}"></label> <br>
			</div>
			<input th:unless="${linkSent}"  class="ol-sm-6 offset-sm-4" type="text" name="answer2" th:field="${newUser.answer2}">
				<div style="text-align:center">
                <span th:if="${linkSent}" class="ol-sm-6">Wysłano link do zresetowania hasła<br></span>
				</div>
                <input th:unless="${linkSent}" class="ol-sm-6 offset-sm-4 button" type="submit" value="Przypomnij mi hasło">
            </form>
        </div>



        <div class="footer">
                <a href = "/">
                <div class="logo"></div>
                </a>
            <div class="socials">
                <div class="fb"><i class="icon-facebook"></i></div>
                <div class="snap"><i class="icon-snapchat-ghost"></i></div>
                <div class="tw"><i class="icon-twitter"></i></div>
                <div class="insta"><i class="icon-instagram"></i></div>
                <div class="pinterest"><i class="icon-pinterest"></i></div>
                <div style="clear:both"></div>
            </div>
        </div>
        </body>
    </html>